@use "./layouts/mixins" as *;
@use "./layouts/variables" as *;
@include disable-select;

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    > section {
      margin: 0.5em;
    }
  }
}

//field-inputs, field-settings, & field-screen
.field-inputs,
.field-settings,
.field-screen {
  width: 90%;
  padding: 0.75em 0.5em;
  @include border(none, 0.4em, false);
}

.error {
  color: red;
}

.field-inputs {
  > section > h1 {
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
  }
  > .settings-icon {
    > i {
      float: right;
      cursor: pointer;
    }
    > i:hover {
      cursor: pointer;
      color: $addbtn-hover;
    }
  }
  > .inputs-container {
    @include flex-center(true);
    > .inputs-items > input {
      margin: 1em;
      height: 2.4em;
      text-align: center;
      @include border(none, 0.4em, false);
    }
  }
}

.field-screen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > section {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .RadialProgress {
    --hue: 280;
    --holesize: 65%;
    --track-bg: #242424;
    
    block-size: 15vmin;
    inline-size: 15vmin;
    min-inline-size: 30px;
    min-block-size: 30px;
    display: grid;
    place-items: center;
    position: relative;
    font-weight: 700;
    filter: saturate(2);
    font-size: max(3vmin, 0.5rem); /* Half the original size */
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      z-index: -1;
      background: conic-gradient(#08bbbb var(--progress, 0%), hsl(var(--hue) 100% 100%), hsl(var(--hue) 100% 70%) var(--progress, 0%), var(--track-bg) var(--progress, 0%) 100%);
      mask-image: radial-gradient(transparent var(--holesize), black calc(var(--holesize) + 0.5px));
    }
  }
  
}

@media screen and (max-width: 767px) {
  //Field inputs & Field Screen
  .inputs-container,
  .inputs-container > section {
    @include flex-center;
    flex-direction: column;
  }

  //Field Contents
  .field-contents {
    width: 90%;
  }
}
