<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Curriculum Vitae</title>

    <!-- icon -->
    <link rel="icon" href="../assets/images/favicon.png">

    <!-- StyleSheets -->
    <link rel="stylesheet" href="../assets/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../scss/theme.css">

    <link rel="stylesheet" href="../scss/CurriculumVitae.css">
</head>

<body>
    <main id="main">
        <section class="d-flex">
            <section class="mt-5">
                <section>
                    <h3>Personal Information</h3>
                    <p class="line-point m-1"><strong><i class="mr-2 fa-solid fa-envelope"></i> Email:</strong>
                        ahmedelseaidy22@gmail.com</p>
                    <p class="line-point m-1"><strong><i class="mr-2 fa-solid fa-phone"></i> Phone:</strong> +20
                        1272929083
                    </p>
                    <p class="line-point m-1"><strong><i class="mr-2 fa-solid fa-location-dot"></i> Address:</strong>
                        Cairo,
                        Egypt</p>
                    <p class="line-point m-1"><strong><i class="mr-2 fa-solid fa-jet-fighter-up"></i> Military
                            status:</strong> Postponed</p>
                    <p class="line-point m-1"><strong><i class="mr-2 fa-brands fa-github"></i> </strong> <a
                            href="https://github.com/AhmedMaherElSaeidi">github.com/AhmedMaherElSaeidi</a></p>
                    <p class="line-point m-1"><strong><i class="mr-2 fa-brands fa-linkedin"></i> </strong> <a
                            href="https://linkedin.com/in/ahmedmaherelsaeidi/">linkedin.com/in/ahmedmaherelsaeidi/</a>
                    </p>
                </section>
                <section>
                    <h3>Skills</h3>
                    <ul class="line-point">
                        <li>Working under pressure</li>
                        <li>Communication Skills</li>
                        <li>Project Management</li>
                        <li>Time Management</li>
                        <li>Creative thinking</li>
                        <li>Problem Solving</li>
                        <li>Mathematics</li>
                    </ul>
                </section>
                <section>
                    <h3>Languages</h3>
                    <ul class="line-point">
                        <li>Arabic</li>
                        <li>English</li>
                        <li>French / Intermediate</li>
                    </ul>
                </section>
            </section>
            <section>
                <section class="cv-header">
                    <p class="name">Ahmed Maher</p>
                    <p class="major">Software Engineer</p>
                </section>

                <section>
                    <h3>About Me</h3>
                    <p class="ml-2">Software Engineering student at level 3 at the Faculty of Computers and Artificial
                        Intelligence at Helwan University. I have done many projects, the majority of them related to
                        web development, in which I have experience for 2 years, with HTML, CSS, JS, SASS, BootStrap,
                        PHP, SQL, and NOSQL. I have done projects with ReactJS, Angular, and ASP.NET MVC Core. I'm Currently
                        dedicating my time to Learn Machine Learning, Neural Networks, and Deep Learning. So I'm looking
                        for internships to reinforce my knowledge by working on projects and being up to date with the
                        marketplace's requirements.</p>
                </section>

                <section>
                    <h3>Education</h3>
                    <section class="ml-2">
                        <h5 class="mt-0">Bachelor Of Computer Science</h5>
                        <p class="ml-2">Helwan University, Software engineering program (2020 - 2024)</p>
                    </section>
                </section>

                <section>
                    <h3>Internship Experience</h3>
                    <section class="ml-2">
                        <h5 class="mt-0">Advanced Front-end web development using React JS</h5>
                        <p class="ml-2">Information Technology Institute - ISSUED 2022 November</p>
                    </section>

                    <section class="ml-2">
                        <h5 class="mt-0">Developing web applications using PHP</h5>
                        <p class="ml-2">Information Technology Institute - ISSUED 2022 November</p>
                    </section>

                    <section class="ml-2">
                        <h5 class="mt-0">ASP.NET Core / MVC</h5>
                        <p class="ml-2">Information Technology Institute - ISSUED 2023 May</p>
                    </section>
                </section>

                <section>
                    <h3>Programming Skills</h3>
                    <ul class="ml-2">
                        <li>Python</li>
                        <li>C / C++ / Java / Nodejs / PHP</li>
                        <li>HTML / CSS / SASS / Bootstrap / JavaScript / ReactJS</li>
                        <li>SQL / MySQL / NoSQL</li>
                    </ul>
                </section>
            </section>
        </section>
    </main>

    <footer class="text-center">
        <a href="#" class="custom-button" id="return-button"><i class="fa-sharp fa-solid fa-house"> Home</i></a>
    </footer>
    <script>
        const returnButton = document.querySelector('#return-button');
        returnButton.addEventListener('click', () => {
            window.location.assign('../index.html');
        });
    </script>
</body>

</html>