$white-color : white;
$black-color : black;
$icon-hover : #9f9f9f;
$addbtn-hover : #26cacadd;
$removebtn-hover : red;
$select-hover : #26cacadd;
$settings-icon-hover : brown;
$settings-btn-ok-hover : #1bdcdc;
$settings-btn-reset-hover : #ea1212;
$settings-btn-close-hover : #12e112;